.hope {
  background-image: url('../../Images/SunLogo.svg');
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-color: rgb(230, 97, 0);
}

.hope-title {
  margin: 0;
  align-self: center;
  padding: 0;
}

.catagory {
  height: 18vh;
  width: 36vw;
  display: flex;
  border: 1px solid black;
}