

.hope {
  background-image: url('../../Images/SunLogo.svg');
  background-repeat: no-repeat;
  justify-content: center;
  background-size: contain;
  background-color: rgb(230, 97, 0);
}

.hope-title {
  margin: 0;
  align-self: center;
  padding: 0;
}

.catagory {
  height: 18vh;
  width: 36vw;
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5vh 0 5vh 0;
  text-decoration: none;
  color: black;
}

.select-catagory {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.leadership {
  background-color: rgb(137,223, 255);
  background: linear-gradient(90deg, rgb(93, 58, 155) 25%, rgb(137,223, 255) 80%);

  display: flex;
  font-size: .6em;
  align-items: center;
  justify-content: center;
}
.leadership-logo {
  height: 3vh;
}

.inspirational {
  background-color: rgb(186, 164, 226);
  background-image: url('../../Images/CatBoss.jpeg');
  background-size: cover;
}

.inspirational-title {
  margin-top: 11vh;
  color: aliceblue;
  background-color: black;
  font-size: .7em;
  height: 2em;
  width: 100%;
}

.laughs {
  background-color: rgb(153, 170, 171);
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
}

.microphone {
  height: 2vh;
  width: 4vw;
}
/* .select-catagory {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
  align-items: center;
  margin: 2%;
} */