.card {
  border: solid 2px black;
  margin: 1vh 1vw 2vh 2vw;
  padding: 0 2vw 1vh 2vw;
}

.leadership-card {
  background-color: rgb(93, 58, 155);
}

.hope-card {
  background-color:rgb(230, 97, 0) ;
}