.header-container {
  background-color: rgb(93, 58, 155);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: white;
}

.header-title {
  background-color: rgb(93, 58, 155);
  margin: 0 2vw 0 2vw;
  font-weight: bold;
}

.app-logo {
  height: 10vh;
  width: 20vw;
}

